<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>苏宁易购</title>
		<meta name="description" content="苏宁正品"></menu>
		<link rel="shortcut icon" type="text/css" href="../static/favicon.ico" />
		<!--样式初始化-->
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<!--头尾公共样式-->
		<link rel="stylesheet" type="text/css" href="css/base.css" />
         <!-- 主体样式-->
         <link rel="stylesheet" type="text/css" href="css/item_show.css"/>
         <!--本地jQuery库-->
		<script src="js/jquery-1.8.3.min.js"></script>
         <!--引入jQuery-->
		<script src="js/public.js"></script>
	</head>
	<body>
	
		<header class="header"> 
			<div class="w">
		    <a href="#">
				<img src="img/hearder.jpg" />
			</a>
			</div>
		
		</header>
		<!--header导航start-->
		
		<div class="head-nav">
		<div class="w">
			<ul class="fl">
				<li>
					<a href="#">
					网址导航</a></li>
				<li>
					<a href="#">
					商家入驻</a></li>
				<li>
					<a href="#">
					客户服务</a></li>
				<li>
					<i></i>
					<a href="#">
					娄底
					<i></i>
					</a>
				   
				</li>
			</ul>
			<ul class="fr">
				<li>
					<a href="#">
					请登录</a></li>
				<li class="f60">
					<a href="#" >
					注册有礼</a></li>
				<li>
					<a href="#">
					我的订单</a></li>
				<li>
					<a href="#">
					我的易购</a></li>
				<li>
					<a href="#">
					苏宁会员</a></li>
				<li class="f60">
					<i></i>
					<a href="#">
					购物车</a></li>
				<li>
					<a href="#">
					易付宝</a></li>
				<li>
					<a href="#">
					企业采购</a></li>
				<li>
					<a href="#">
					手机苏宁</a></li>
			</ul>
		</div>
		</div>
		<!--header导航end-->
		<!--搜索栏start-->
		<div>

			<div class="w">
				<!--搜索栏开始-->
				<div class="sous">
					<div class="sous_im">
					<a href="#" class="a_1"></a>
					<a href="#" class="a_2"></a>
					</div>
				
				    <div class="sou-logo">
				    	
						<form action="" method="post">
							<i></i>
							<input type="" name="" id="sous-i" placeholder="中秋乐团圆" />
							<input id="sous-s" type="submit" value="搜索"/>
						</form>
				    </div>
				    <!--搜索栏下导航栏开始-->
						<div id="key_words">
							<ul>
								<li class="f60"><a href="#">破壁机</a></li>
								<li>
									<i>|</i>
									<a href="#">风暴40</a></li>
								<li>
									<i>|</i>
									<a href="#">iPhone XS</a></li>
								<li class="f60">
									<i>|</i>
									<a href="#">冰洗领劵立减</a></li>
								<li class="f60">
									<i>|</i>
									<a href="#">博世家电</a></li>
								
								
							</ul>
						</div>
			<!--搜索栏下导航栏结束-->
			<!--购物车模块开始-->
			          <div id="shop_cart">
			          	<i></i>
			          	<a href="#">我的购物车</a>
			          </div>
				</div>
			<!--购物车模块结束-->
			<!--搜索栏结束-->
			
			<!--中栏导航开始-->
			<div id="daoh_z">
				<div class="w">
					<div class="daoh_z_q">
						<i></i>
					<a href="#">全部商品</a>
					</div>
					<div class="daoh_z_a">
						<a href="#">大聚会</a>
						<a href="#">红孩子</a>
						<a href="#">苏宁超市</a>
						<a href="#">电器城</a>
						<a href="#">生活家电</a>
						<a href="#">时尚服装</a>
						<a href="#">苏宁国际</a>
						<a href="#">苏宁OutLets</a>
						<a href="#">苏宁金融</a>
						
					</div>
				</div>
			</div>
			<!--中栏导航结束-->
			</div>
		</div>
		<!--搜索栏end-->
		<!--show开始-->
		<div class="show">
		<div class="w">
			<div id="show_left">
				<div class="show_img">
					<a id="big_img" href="#">
						<img src="img/item/big_img.jpg"/>
					</a>
				</div>
				<div class="main_img">
					<ul>
					<li>
						<a href="#">
							<img src="img/item/big1.jpg"/>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/item/big2.jpg"/>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/item/big3.jpg"/>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/item/big4.jpg"/>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/item/big5.jpg"/>
						</a>
					</li>
					</ul>
				</div>
				<div class="img_memo">
					<div class="memo_share">
						<a href="#">
							<i></i>
							分享
						</a>
					</div>
					<div class="memo_share">
						<a href="#">
							<i></i>
							收藏
						</a>
					</div>
				</div>
			</div>
			<div id="show_center">
				<div class="proinfo_title">
					<h2>丹麦进口啤酒（ROYAL）皇家碧域比尔森黄啤酒330ml*4听 四连包</h1>
					<h3><a href="#">老友记欢聚时光 满149减30，点击查看</a></h2>
				</div>
				<div class="pricedam">
					<dl class="pricedl">
						<dt>易购价</dt>
						<dd class="pricedl_1">
							<span>￥19</span>
							<span><a href="#">降价通知</a></span>
						</dd>
						<p>加入会员返云钻，下单立返约0.39元
						<a href="#">立即开通></a>
						</p>
					</dl>
					<dl>
						<dt>领劵</dt>
						<dd class="pricedl_1">
							<i></i>
							100%刮中券，最高50元无敌券
							<a href="#"> 立即去刮奖></a>
						</dd>
					</dl>
					<dl>
						<dt>促销</dt>
						<dd class="pricedl_1">
							<p><label>实名有礼</label>&nbsp;实名认证领苏宁支付券<a href="#">登录后查看 ></a></p>
							<p><label>云砖</label>&nbsp;普通会员返5云钻</p>
							
						</dd>
					</dl>
				</div>
				<div class="addr_d">
					<dl>
						<dt>送至</dt>
						<dd>
							<p>有货86元免基础运费(50.00kg内)</p>
							<p>支持自提|准时达|次日达</p>
							<p>18:00前下单，预计明天（10月9日）送达 由 苏宁 销售和发货，并提供售后服务 </p>
							<p>联系苏宁</p>
						</dd>
						
					</dl>
				</div>
				
			
				<div class="show_num">
					<span>数量</span>
					<div class="gs_num">
					
					<a href="###" id="jian">-</a>
			   		<input type="text" name="num" id="item_num" value="1" />
			   		<a href="###" id="jia">+</a>
				     </div>
				</div>
				
				<div class="show_button">
					<button>立即购买</button>
					<button><i></i>&nbsp;加入购物车</button>
				</div>
				
			</div>
			<div id="show_right">
				<div id="see_to_see">
					<span>看了又看</span>
				</div>
				<ul>
					<li>
						<a href="#">
							<img src="img/item/fr1.jpg"/>
						</a>
						<p class="see_jieshao">
							<span id="ziying">自营</span>
							<a href="#">自营可爱多婴儿手口湿巾100片盖装*3包 温和滋养带盖手口湿巾婴幼儿通用手口专用</a>
						</p>
					</li>
					<li>
						<a href="#">
							<img src="img/item/fr1.jpg"/>
						</a>
						<p class="see_jieshao">
							<span id="ziying">自营</span>
							<a href="#">自营可爱多婴儿手口湿巾100片盖装*3包 温和滋养带盖手口湿巾婴幼儿通用手口专用</a>
						</p>
					</li>
					
				</ul>
			</div>
		</div>
		</div>
		<!--show结束-->
		<!--页脚start-->
	
			<div id="footer_two">
				<div class="w">
					<p>	
						<a href="#">苏宁互联</a>
						<span>|</span>
						<a href="#">苏宁金融</a>
						<span>|</span>
						<a href="#">PP视频</a>
						<span>|</span>
						<a href="#">红孩子</a>
						<span>|</span>
						<a href="#">苏宁物流</a>
						<span>|</span>
						<a href="#">零售云</a>
						<span>|</span>
						<a href="#">知识产权举报</a>
						<span>|</span>
						<a href="#">投资者关系</a>
					</p>
					<p>
						<a href="#">联系我们</a>
						<span>|</span>
						<a href="#">诚聘英才</a>
						<span>|</span>
						<a href="#">供应商入驻</a>
						<span>|</span>
						<a href="#">广告平台</a>
						<span>|</span>
						<a href="#">苏宁联盟</a>
						<span>|</span>
						<a href="#">苏宁招标</a>
						<span>|</span>
						<a href="#">友情链接</a>
						<span>|</span>
						<a href="#">法律申明</a>
						<span>|</span>
						<a href="#">用户体验提升计划</a>
						<span>|</span>
						<a href="#">股东会员认证</a>
					</p>
					<p>
						<a href="#">Copyright© 2002-2018，苏宁易购集团股份有限公司版权所有</a>
						<span>|</span>
						<a href="#">苏公网安备 32010202010078号</a>
						<span>|</span>
						<a href="#">苏ICP备10207551号-4</a>
						<span>|</span>
						<a href="#">苏B1-20130131</a>
					</p>
					<p>|						
					     <a href="#">苏B2-20130376</a>
						<span>|</span>
						<a href="#">苏B2-20130391</a>
						<span>|</span>
						<a href="#">出版物经营许可证新出发苏批字第A-243号</a>
						<span>|</span>
						<a href="#">互联网药品信息服务资格证书（苏）-非经营性-2016-0005</a>
					</p>
					<p>
						本网站直接或间接向消费者推销商品或者服务的商业宣传均属于“广告”（包装及参数、售后保障等商品信息除外）
					</p>
					<div id="shouquan_xs">
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
						<a href="#"></a>
					</div>
				</div>
			</div>
        </div>
	
	<!--	页脚end-->
		<!--右侧导航开始-->
	<div id="sn_sidebar">
		<div id="sidebar_ver">
			
		
		<div class="sidebar_nav">
			<div class="sidebar_shoum">
			    <a href="#">登录</a>
				<a href="#">注册</a>
			</div>
			<i></i></div>
		<div class="sidebar_nav"><div class="sidebar_shoum">
			    <a href="#">登录</a>
				<a href="#">注册</a>
			</div><i></i></div>
		<div class="sidebar_nav"><div class="sidebar_shoum">
			    <a href="#">登录</a>
				<a href="#">注册</a>
			</div><i></i></div>
		<div class="sidebar_nav"><div class="sidebar_shoum">
			    <a href="#">登录</a>
				<a href="#">注册</a>
			</div><i></i></div>
		<div class="sidebar_nav"><div class="sidebar_shoum">
			    <a href="#">登录</a>
				<a href="#">注册</a>
			</div><i></i></div>
		<div class="sidebar_shopc"><i></i><span>购物车</span></div>
		<div class="sidebar_nav"><div class="sidebar_shoum">
			    <a href="#">登录</a>
				<a href="#">注册</a>
			</div><i></i></div>
		<div class="sidebar_nav"><div class="sidebar_shoum">
			    <a href="#">登录</a>
				<a href="#">注册</a>
			</div><i></i></div>
	    </div>
	</div>
	<!--右侧导航结束-->
	</body>
</html>
